* {
  font-family: "Lucida Console", Courier, monospace;
}
body {
  background-image: url(https://images.hdqwalls.com/download/passenger-plane-in-clouds-view-from-far-away-26-1920x1080.jpg);
  background-size: cover;
  overflow: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
}

nav img {
   width: 5em;
   height: 5em;
   flex: 1;
}

.nav-image-div {
    justify-content: flex-start;
    float: right;
}

.nav-spacer-div {
    flex: 2;
}

.nav-links-div{
    justify-content: flex-end;
    float: right;
    flex: 1;
    text-align: center;
    line-height: 5em;
}

.nav-links-div div {
    display: flex;
    justify-content: end;
}

.nav-links-div div a {
    text-decoration: none;
    color: black;
    padding-right: 4em;
    padding-left: 4em;
    text-align: center;
}
.center-div {
    margin-top: 10em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
