* {
  font-family: "Lucida Console", Courier, monospace;
}
body {
  background-image: url(https://images.hdqwalls.com/download/passenger-plane-in-clouds-view-from-far-away-26-1920x1080.jpg);
  background-size: cover;
  overflow: hidden;
}
nav {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 5em;
    margin-left: 1em;
    margin-right: 1em;
}
nav img {
   width: 5em;
   height: 5em;
   flex: 1;
}
.nav-image-div {
    justify-content: flex-start;
    float: right;
}
.nav-spacer-div {
    flex: 2;
}
.center-div {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
