* {
  font-family: "Lucida Console", Courier, monospace;
}
body {
  background-image: url(https://images.hdqwalls.com/download/passenger-plane-in-clouds-view-from-far-away-26-1920x1080.jpg);
  background-size: cover;
  overflow: hidden;
}
nav img {
   width: 5em;
   height: 5em;
   flex: 1;
}
.nav-return {
    justify-content: flex-start;
    float: right;
    margin-right: 40px;
}
.headline {
    text-align: center;
    z-index: 10;
    margin-top: 35px;
    font-size: 40px;
}
.container {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.high-score-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.3%;
  margin-bottom: 1.25rem;
}
.high-score-table th {
    font-size: 40px;
}
.high-score-table td {
    font-size: 30px;
}
