* {
  font-family: "Lucida Console", Courier, monospace;
}
body {
  background-image: url(https://img.freepik.com/premium-vector/sky-cloud-daily-illustration-with-cartoon-cirrus-cumulus-white-clouds-rays-sun-illustration_1284-62767.jpg?w=2000);
  background-size: cover;
  overflow: hidden;
}
.headline {
    text-align: center;
    z-index: 10;
    margin-top: 35px;
    font-size: 25px;
}
.map-container {
    height: 70vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-map {
    width: 1200px;
    height:500px;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.information {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 25px;
}